body {
    background: url(../img/joker.jpg);
    background-position-x: center;
    
    
}

h1 {
    text-align: center;
    text-shadow: -2px 2px 2px white;
}
#menu {
    height: 70px;
    width: 90%;
    background: linear-gradient(yellow, green);
    padding: 7px 0;
    margin: 0 auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    
   
}
 /* {
    color: white;
    text-shadow: 1px 1px 2px black;
} */
#challenger3, #challenger4 {
    width: 850px;
    background-image:url(../img/bet.jpg);
    height: 350px;
    margin: 0 auto;
    
}
tr:nth-child(1) {
    background-color: grey;
    text-align: center;
}
th:nth-child(5) {
    text-align: center;
}
th,
tr {
    border: 1px solid black;
}
.win {
    background-color: yellowgreen;
}
.inPlay {
    background-color: yellow;
}
.lost {
    background-color: red;
}
