body {
    background: url(../img/joker.jpg);
    background-position-x: center;
    
    
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px white;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
   
}
 /* {
    color: white;
    text-shadow: 1px 1px 2px black;
} */
#introduction {
    width: 850px;
    background-color: blanchedalmond;
    height: 350px;
    margin: 0 auto;
    
}
tr:nth-child(1) {
    background-color: grey;
}
th,
tr {
    border: 1px solid black;
}
